spring:
  application:
    name: ${APP_NAME}
  profiles:
    active: ${PROFILE:dev}
  jpa:
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
    validate-on-migrate: true


app:
  jwt:
    secret: ${JWT_SECRET}
    issuer: ${JWT_ISSUER:shopping-list-api}
  google:
    client-id: ${GOOGLE_CLIENT_ID:fkjk dcyz aerx tfzy}

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [service=${spring.application.name}] [profile=${spring.profiles.active:default}] %msg%n"
  level:
    root: INFO

# OpenAPI / Swagger Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  show-actuator: false

server:
  port: 8080
  address: 0.0.0.0